@import "../utils/variables";
@import "../utils/mixins";
// footer
footer {
    background-color: $footer;
    width: 100%;
    padding-bottom: 5%;
    @include tablette {
        width: 100%;
    }
        h1{
            margin-top: 0;
            font-size: 18px;
            padding: 5% 5%;
            color: white;
            font-weight: 100;
            margin-bottom: 0;
            @include tablette {
                font-size: 30px;
            }
            @include desktop {
                font-size: 40px;
            }
        }
        nav ul{
            list-style-type: none;
            padding-left: 5%;
            margin-top: 0;
                a {
                    text-decoration: none;
                    color: white;
                }
        }
            li{
                color: white;
                line-height: 28px;
                @include tablette {
                    line-height: 40px;
                    width: 60%;
                    font-size: 25px;
                }
                @include desktop {
                    font-size: 25px;
                    line-height: 40px;
                }
                i{
                color: white;
                font-size: 80%;
                text-indent: 0px;
                margin-right: 3%;
                margin-left: 0;
                width: 4%;
                @include desktop {
                    margin-right: -1%;
                }
                }
            }   
}