// header
header {
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 0px grey;
    margin : auto;
    padding: 5% 1%;
    #logo{
        width: 300px;
    }
}