@charset "UTF-8";
.titre {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

p {
  text-align: left;
  font-size: 18px;
}

h1 {
  font-size: 30px;
}
@media only screen and (min-width:992px) {
  h1 {
    font-size: 40px;
  }
}
h1 i {
  padding-left: 20%;
}
@media only screen and (min-width:992px) {
  h1 i {
    font-size: 40px;
  }
}

.titreMenu {
  font-size: 18px;
  border-bottom: 4px solid #99e2d0;
  width: 10%;
  padding-bottom: 2%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .titreMenu {
    width: 11%;
  }
}
@media only screen and (min-width:992px) {
  .titreMenu {
    font-size: 25px;
    width: 13%;
  }
}

.photo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 165px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
@media only screen and (min-width:992px) {
  .photo {
    height: 220px;
  }
}

.photoResto {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  height: 300px;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .photoResto {
    height: 500px;
  }
}
@media only screen and (min-width:992px) {
  .photoResto {
    height: 850px;
  }
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 4%;
  width: 62%;
  max-width: 100%;
  margin: 5% auto 10% auto;
  border-radius: 30px;
  border: none;
  box-shadow: 6px 9px 12px 0px rgba(179, 179, 179, 0.5);
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .btn {
    width: 35%;
    font-size: 20px;
  }
}
@media only screen and (min-width:992px) {
  .btn {
    width: 30%;
    font-size: 30px;
  }
}
.btn--dégradé {
  background: linear-gradient(0deg, #9356DC, #ff79da);
  color: white;
  margin-top: 15%;
}
.btn--clair {
  justify-content: flex-start;
  width: 85%;
  padding: 6% 2%;
  border-radius: 15px;
  background-color: #F2F5F3;
  border: none;
  color: black;
  margin-bottom: 4%;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .btn--clair {
    width: 65%;
  }
}
@media only screen and (min-width:992px) {
  .btn--clair {
    width: 68%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .btn--clair i {
    font-size: 30px;
  }
}
@media only screen and (min-width:992px) {
  .btn--clair i {
    font-size: 40px;
  }
}
.btn--clair:hover {
  background-color: #fbeeff;
  box-shadow: 6px 9px 12px 0px rgb(179, 179, 179);
}
.btn--clair:hover i {
  color: #9356DC;
  z-index: 3;
}

.btnRetour {
  border: none;
  background-color: transparent;
  font-size: 100%;
  font-weight: bolder;
}
.btnRetour a {
  text-decoration: none;
  color: black;
}

body {
  counter-reset: objet-compteur;
}

.compteur {
  text-align: center;
  position: relative;
}
.compteur .objet::before {
  counter-increment: objet-compteur;
  content: counter(objet-compteur);
  margin-right: 5px;
  font-size: 14px;
  background-color: #9356DC;
  color: white;
  padding: 6px 10px;
  border-radius: 50%;
  margin-top: 5%;
  position: absolute;
  left: 5%;
  z-index: 2;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .compteur .objet::before {
    margin-top: 6%;
    left: 16%;
  }
}
@media only screen and (min-width:992px) {
  .compteur .objet::before {
    margin-top: 6%;
    left: 15%;
    font-size: 20px;
  }
}

footer {
  background-color: rgb(63, 63, 63);
  margin: 0;
  padding-bottom: 5%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer {
    width: 100%;
  }
}
footer h1 {
  margin-top: 0;
  font-size: 18px;
  padding: 5% 5%;
  color: white;
  font-weight: 100;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width:992px) {
  footer h1 {
    font-size: 40px;
  }
}
footer nav ul {
  list-style-type: none;
  padding-left: 5%;
  margin-top: 0;
}
footer nav ul a {
  text-decoration: none;
}
footer li {
  color: white;
  line-height: 28px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  footer li {
    line-height: 40px;
    width: 60%;
    font-size: 25px;
  }
}
@media only screen and (min-width:992px) {
  footer li {
    font-size: 25px;
    line-height: 40px;
  }
}
footer li i {
  color: white;
  font-size: 80%;
  text-indent: 0px;
  margin-right: 3%;
  margin-left: 0;
  width: 4%;
}
@media only screen and (min-width:992px) {
  footer li i {
    margin-right: -1%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5% 20%;
  width: 100%;
  box-shadow: 0px 6px 6px 3px rgba(179, 179, 179, 0.7);
}
header #logo {
  width: 190px;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header #logo {
    width: 350px;
  }
}
@media only screen and (min-width:992px) {
  header #logo {
    width: 450px;
  }
}
header .btnRetour {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  left: 6%;
  width: 4%;
  font-size: 130%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .btnRetour {
    font-size: 170%;
    top: 8%;
  }
}
@media only screen and (min-width:992px) {
  header .btnRetour {
    font-size: 210%;
    top: 14%;
    left: 10%;
  }
}

.carteRestaurant {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 9px 12px 0px rgba(179, 179, 179, 0.5);
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carteRestaurant {
    width: 45%;
  }
}
@media only screen and (min-width:992px) {
  .carteRestaurant {
    width: 40%;
    height: 200px;
    margin: 5% 2%;
  }
}
.carteRestaurant .contenant {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}
.carteRestaurant .contenant .photo {
  z-index: 2;
}
.carteRestaurant .contenant .legende {
  background-color: #99e2d0;
  color: #00693E;
  width: 20%;
  font-size: 14px;
  padding: 5px 2px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  top: 6%;
  right: 4%;
  z-index: 3;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .contenant .legende {
    width: 23%;
    font-size: 19px;
  }
}
.carteRestaurant .infoPhoto {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  line-height: 36px;
  width: 100%;
  height: 81px;
  font-size: 14px;
  padding: 1% 4%;
  box-shadow: 6px 9px 12px 0px rgba(179, 179, 179, 0.5);
  border-radius: 0 0px 20px 20px;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto {
    height: 105px;
  }
}
.carteRestaurant .infoPhoto .titre {
  font-size: 18px;
  width: 100%;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto .titre {
    font-size: 33px;
    padding-bottom: 1%;
  }
}
.carteRestaurant .infoPhoto p {
  margin-top: 0%;
  width: 100%;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto p {
    font-size: 26px;
    line-height: 46px;
  }
}
.carteRestaurant .infoPhoto a {
  text-decoration: none;
  color: black;
}
.carteRestaurant .infoPhoto .coeur {
  position: relative;
  margin-top: -14%;
  font-size: 25px;
}
.carteRestaurant .infoPhoto .coeur .far {
  position: absolute;
  margin-right: 51%;
  right: -45%;
  margin-top: 4%;
  font-size: 27px;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto .coeur .far {
    font-size: 40px;
    margin-top: 2%;
  }
}
.carteRestaurant .infoPhoto .coeur .fas {
  position: absolute;
  margin-right: 51%;
  right: -45%;
  font-size: 27px;
  background: linear-gradient(120deg, #9356DC, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  margin-top: 4%;
  height: 0px;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto .coeur .fas {
    font-size: 40px;
    margin-top: 2%;
  }
}
.carteRestaurant .infoPhoto .coeur .fas:hover {
  opacity: 1;
  transition: 2s ease-in-out;
  height: 27px;
  transform-origin: bottom left;
}
@media only screen and (min-width:992px) {
  .carteRestaurant .infoPhoto .coeur .fas:hover {
    height: 40px;
  }
}
.carteRestaurant .infoPhoto p {
  margin-top: 1%;
}

.carteMenu {
  background-color: #F2F5F3;
  margin-top: 50%;
  padding: 2% 5% 10% 5%;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.carteMenu .nomRestoMenu {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carteMenu .nomRestoMenu {
    font-size: 35px;
    width: 100%;
  }
}
@media only screen and (min-width:992px) {
  .carteMenu .nomRestoMenu {
    font-size: 50px;
  }
}
.carteMenu .nomRestoMenu .coeur {
  position: absolute;
}
.carteMenu .nomRestoMenu .coeur .far {
  position: absolute;
  color: black;
  font-size: 30px;
  top: 11px;
  right: -404px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carteMenu .nomRestoMenu .coeur .far {
    right: -840px;
  }
}
@media only screen and (min-width:992px) {
  .carteMenu .nomRestoMenu .coeur .far {
    font-size: 40px;
    top: 22px;
    right: -1400px;
  }
}
.carteMenu .nomRestoMenu .coeur .fas {
  position: absolute;
  font-size: 30px;
  top: 11px;
  right: -404px;
  background: linear-gradient(120deg, #9356DC, #ff79da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  height: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .carteMenu .nomRestoMenu .coeur .fas {
    right: -840px;
  }
}
@media only screen and (min-width:992px) {
  .carteMenu .nomRestoMenu .coeur .fas {
    font-size: 40px;
    top: 22px;
    right: -1400px;
  }
}
.carteMenu .nomRestoMenu .coeur .fas:hover {
  opacity: 1;
  transition: 2s ease-in-out;
  height: 30px;
  transform-origin: bottom;
}
@media only screen and (min-width:992px) {
  .carteMenu .nomRestoMenu .coeur .fas:hover {
    height: 40px;
  }
}

.SectionMenu {
  display: block;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .SectionMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
  }
}
@media only screen and (min-width:992px) {
  .SectionMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
  }
}

.plat {
  background-color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 2% 3%;
  margin-bottom: 15px;
}
.plat .nomPlat {
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .plat .nomPlat {
    font-size: 18px;
  }
}
@media only screen and (min-width:992px) {
  .plat .nomPlat {
    font-size: 25px;
    width: 435px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2% auto;
  }
}
.plat .infoPlat {
  font-size: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .plat .infoPlat {
    font-size: 18px;
  }
}
@media only screen and (min-width:992px) {
  .plat .infoPlat {
    font-size: 23px;
    width: 435px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 2% auto;
  }
}
.plat .infoPlat span {
  font-weight: bolder;
  float: right;
}

.sectionMenuEntrees {
  width: 100%;
  visibility: hidden;
  -webkit-animation: entrees 4s ease-in-out forwards;
          animation: entrees 4s ease-in-out forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.sectionMenuPlats {
  width: 100%;
  visibility: hidden;
  -webkit-animation: plats 4s ease-in-out forwards;
          animation: plats 4s ease-in-out forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.sectionMenuDesserts {
  width: 100%;
  visibility: hidden;
  -webkit-animation: desserts 4s ease-in-out forwards;
          animation: desserts 4s ease-in-out forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes entrees {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

@keyframes entrees {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}
@-webkit-keyframes plats {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}
@keyframes plats {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}
@-webkit-keyframes desserts {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}
@keyframes desserts {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#info {
  background-color: #F2F5F3;
  margin: 0px;
  padding-bottom: 10%;
}
#info .titreSection {
  margin: 5% auto 5% 5%;
  font-weight: bolder;
  font-size: 28px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #EBEBEB;
  padding: 5% 10%;
  font-size: 20px;
}
@media only screen and (min-width:992px) {
  form {
    left: 12%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  form i {
    font-size: 30px;
    margin-top: 4%;
  }
}
@media only screen and (min-width:992px) {
  form i {
    font-size: 40px;
  }
}
form input {
  text-decoration: none;
  border: none;
  background-color: #EBEBEB;
  text-indent: 10px;
  font-size: 17px;
  width: 42%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  form input {
    font-size: 30px;
    width: 40%;
    margin-top: 5%;
  }
}
@media only screen and (min-width:992px) {
  form input {
    font-size: 40px;
    width: 53%;
    margin-left: 1%;
  }
}

#texte .titreSection {
  margin: 5% auto 5% 5%;
  font-weight: bolder;
  font-size: 28px;
}
#texte .titreMenu {
  text-align: center;
  width: 70%;
  margin: 10% auto 4% auto;
  font-size: 27px;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #texte .titreMenu {
    font-size: 21px;
  }
}
@media only screen and (min-width:992px) {
  #texte .titreMenu {
    width: 11%;
    font-size: 30px;
  }
}
#texte .titreInfo {
  font-size: 26px;
  padding-top: 6%;
  font-weight: bolder;
  width: 60%;
  margin-bottom: 10%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #texte .titreInfo {
    font-size: 35px;
  }
}
@media only screen and (min-width:992px) {
  #texte .titreInfo {
    font-size: 60px;
    width: 59%;
  }
}
#texte p {
  text-align: center;
  width: 85%;
  margin: 0 auto 5% auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #texte p {
    font-size: 26px;
  }
}
@media only screen and (min-width:992px) {
  #texte p {
    width: 74%;
    font-size: 42px;
  }
}

#fonctionnement .titreSection {
  margin: 5% auto 5% 5%;
  font-weight: bolder;
  font-size: 28px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #fonctionnement .titreSection {
    font-size: 38px;
  }
}
@media only screen and (min-width:992px) {
  #fonctionnement .titreSection {
    font-size: 40px;
    width: 100%;
  }
}

.objet i {
  color: gray;
  margin: auto 7%;
}

#restaurant {
  background-color: #F2F5F3;
  padding-top: 5%;
  padding-bottom: 10%;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #restaurant {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
}
@media only screen and (min-width:992px) {
  #restaurant {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
}
#restaurant .titreSection {
  margin: 5% auto 5% 5%;
  font-weight: bolder;
  font-size: 28px;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #restaurant .titreSection {
    width: 100%;
  }
}
@media only screen and (min-width:992px) {
  #restaurant .titreSection {
    font-size: 40px;
    width: 100%;
  }
}

.titre {
  font-size: 16px;
  font-weight: bolder;
}

.loader {
  display: block;
  position: fixed;
  background-color: #fbeeff;
  width: 100%;
  height: 100%;
  -webkit-animation: loader 4s linear;
          animation: loader 4s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rond {
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
  border: 10px solid #9356DC;
  border-radius: 50%;
  border-bottom-color: #ff79da;
  border-right-color: #99e2d0;
  border-top-color: rgb(63, 63, 63);
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: spinner 3.5s linear;
          animation: spinner 3.5s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.rond i {
  position: absolute;
  top: 35%;
  left: 35%;
  margin: auto;
  font-size: 25px;
}

@-webkit-keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    z-index: 999;
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
    opacity: 0;
    z-index: -999;
    visibility: hidden;
  }
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
    z-index: 999;
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
    opacity: 0;
    z-index: -999;
    visibility: hidden;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -999;
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -999;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */