@import "../utils/variables";
@import "../utils/mixins";
// boutons
.btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 4%;
    width: 62%;
    max-width: 100%;
    margin: 5% auto 10% auto;
    border-radius: 30px;
    border: none;
    box-shadow: $shadow;
    font-weight: 300;
    font-size: 16px;
    @include tablette {
        width: 35%;
        font-size: 20px;
    }
    @include desktop {
        width: 25%;
        font-size: 28px;
        padding: 2% 6%;
        margin: 5% auto 1% auto;
    }
        &--dégradé {
            background: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);
            color: white;
            margin-top: 15%;
            @include desktop {
                margin-top: 8%;
            }
        }
        &--clair {
            justify-content: flex-start;
            width: 85%;
            padding: 6% 2%;
            border-radius: 15px;
            background-color: $fond-clair;
            border: none;
            color: black; 
            margin-bottom: 4%;   
            font-weight: bold;
            @include tablette {
                width: 65%;
            }
            @include desktop {
                padding: 8% 2%;
            }
            i {
                @include tablette {
                    font-size: 30px;
                }
                @include desktop {
                    font-size: 40px;
                }
            }
                &:hover {
                    background-color: $couleur-primaire-hover;
                    box-shadow: $shadow-hover;
                        i {
                        color: $couleur-primaire;
                        z-index: 3;
                        }
                    }  
        }
}
.btnRetour {
    border: none;
    background-color: transparent;
    font-size: 100%;
    font-weight: bolder;
    a {
        text-decoration: none;
        color: black;
    }
}
// compteur auto
body {
    counter-reset: objet-compteur;
}
.compteur {
    text-align: center;
    position: relative;
    @include desktop {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 6%;
      }
    .objet::before{
        counter-increment: objet-compteur;
        content: counter(objet-compteur);
        margin-right: 5px;
        font-size: 14px;
        background-color: #9356DC;
        color: white;
        padding: 6px 10px;
        border-radius: 50%;
        margin-top: 5%;
        position: absolute;
        left: 5%;
        z-index: 2;
        @include tablette {
            margin-top: 6%;
            left: 16%;
        }
        @include desktop {
            margin-top: 14%;
            left: 5%;
            font-size: 16px;
        }
  }
}

