@import "../utils/variables";
@import "../utils/mixins";
// typographie
.titre{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
      
}
p {
    text-align: left;
    font-size: 18px;
}
h1 {
    font-size: 30px;
    @include desktop {
        font-size: 40px;
    }
        i{
            padding-left: 20%;
            @include desktop {
                font-size: 40px;
            }
        }
}
.titreMenu {
    font-size: 18px;
    border-bottom: 4px solid $couleur-tertiaire;
    width: 10%;
    padding-bottom: 2%;
    @include tablette{
        width: 6%;
    }
    @include desktop {
        font-size: 25px;
        width: 13%;
    }
}    
// photos
.photo {
    object-fit: cover;
    object-position: center;
    height: 165px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    @include desktop {
        height: 220px;
    }
}
.photoResto {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: -1;
    @include tablette {
        height: 500px;
    }
    @include desktop {
        height: 850px;
    }
}

