// carte menu
.carteMenu {
    background-color: $fond-clair;
    margin-top: 50%;
    padding: 2% 5% 10% 5%;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    position: relative;
    z-index: 1;
    .nomRestoMenu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        padding-right: 5%;
        @include tablette {
            font-size: 35px;
            width: 100%;
        }
        @include desktop {
            font-size: 50px;
        }
        .coeur {
            margin-top: 8%;
            @include tablette {
                margin-top: 3%;
            }
            @include desktop {
                margin-top: 3%;
            }
            .far {
                position: absolute;
                color: black;
                font-size: 30px;
                @include tablette {
                   font-size: 35px;
                }
                @include desktop {
                    font-size: 40px;
                    
                }
                &:hover {
                    opacity: 0;
                    z-index: -1;
                }
            }
            .fas {
                font-size: 30px;
                position: absolute;
                background: linear-gradient(120deg,$couleur-primaire,$couleur-secondaire);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity:0;
                height: 0px;
                @include tablette {
                    font-size: 35px;
                }
                @include desktop {
                    font-size: 40px;
                }
                &:hover {
                    opacity: 1;
                    z-index: 2;
                    transition: opacity linear 1s; 
                    height: 30px;
                    @include tablette {
                        height: 35px;
                    }
                    @include desktop {
                        height: 40px;
                    }
                }
            }
        }
    }

}
.SectionMenu {
    display: block;
    @include tablette {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }
    
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
}  
.plat {
    background-color: white;
    font-size: 16px;
    border-radius: 20px;
    position: relative;
    padding: 2% 3%;
    margin-bottom: 15px;
    @include tablette {

    }
    @include desktop {
        
    }
    .check {
        background-color: $couleur-tertiaire;
        position: absolute;
        right: 0;
        top: 0;
        width: 0%;
        height: 110px;
        border-radius: 0px 20px 20px 0px;
        &:hover {
            animation: check 850ms ease-in-out alternate forwards;
        }
    }
        i {
            color: white;
            font-size: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110px;
            transition: transform;
            opacity: 0;
            &:hover {
                animation: rotation 850ms linear forwards;
            }
        }
    }
    .nomPlat{
        font-size: 16px;
        font-weight: bold;
        @include tablette {
            font-size: 18px;
            @include ellipsis;
        }
        @include desktop {
            font-size: 25px;
            width: 435px;
            @include ellipsis;
            margin: 2% auto;
        }
    }
    .detailPlats {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: -2% auto;
    }
    .infoPlat {
        font-size: 15px;
        
        @include tablette {
            font-size: 18px;
            @include ellipsis;
        }
        @include desktop {
            font-size: 23px;
            width: 435px;
            @include ellipsis;
            margin: 2% auto;
        }
        @include ellipsis;
        
    }
    .prix {
        font-weight: bolder;
    }
.nomPlat div{
    display: flex;
    justify-content: space-between;
}
// anim menu
.sectionMenuEntrees {
    width: 100%;
    visibility: hidden;
    animation: entrees 2s ease-in-out forwards;
    animation-delay: 0s;
    }
  .sectionMenuPlats {
    width: 100%;
    visibility: hidden;
    animation: plats 2s ease-in-out forwards;
    animation-delay: 2s;
    }
  .sectionMenuDesserts {
    width: 100%;
    visibility: hidden;
    animation: desserts 2s ease-in-out forwards;
    animation-delay: 4s;
    }
  @keyframes entrees {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
  @keyframes plats {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
  @keyframes desserts {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
    //animation check
@keyframes check {
    from {
        width: 0%;
    }
    to {
        width: 25%;
    }
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes decalage {
    from {
        margin-right: 0%;
    }
    to {
        margin-right: 24%;
    }
}