// carte menu
.carteMenu {
    background-color: $fond-clair;
    margin-top: 50%;
    padding: 2% 5% 10% 5%;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    position: relative;
    z-index: 1;
    .nomRestoMenu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        position: relative;
        padding-right: 9%;
        @include tablette {
            font-size: 35px;
            width: 100%;
            padding-right: 6%;
        }
        @include desktop {
            font-size: 50px;
            padding-right: 6%;
        }
        .coeur {
            margin-top: 8%;
            @include tablette {
                margin-top: 3%;
            }
            @include desktop {
                margin-top: 3%;
            }
            .far {
                position: absolute;
                color: black;
                font-size: 30px;
                @include tablette {
                   font-size: 35px;
                }
                @include desktop {
                    font-size: 40px;
                    
                }
                &:hover {
                    opacity: 0;
                    z-index: -1;
                }
            }
            .fas {
                font-size: 30px;
                position: absolute;
                background: linear-gradient(120deg,$couleur-primaire,$couleur-secondaire);
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity:0;
                height: 0px;
                @include tablette {
                    font-size: 35px;
                }
                @include desktop {
                    font-size: 40px;
                }
                &:hover {
                    opacity: 1;
                    z-index: 2;
                    transition: opacity linear 1s; 
                    height: 30px;
                    @include tablette {
                        height: 35px;
                    }
                    @include desktop {
                        height: 40px;
                    }
                }
            }
        }
    }

}
.SectionMenu {
    display: block;
    @include tablette {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1%;
    }
    
    @include desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1%;
    }
}  
.plat {
    background-color: white;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 3%;
    overflow: hidden;
    &:hover > .box {
        width: 23%;
        transition: ease-in-out 1s;
        .icone {
            transform: rotate(360deg);
        }
    }
    @include tablette {
        margin: 0;
        margin-top: 3%;
        @include ellipsis
    }
    @include desktop {
        margin: 0;
        margin-top: 3%;
        @include ellipsis
    }
    .detailPlats {
        flex-grow: 1;
        width: 70%;
        padding: 2%;
    }
    .nomPlat{
        font-size: 16px;
        font-weight: bold;
        @include tablette {
            font-size: 18px;
            @include ellipsis;
        }
        @include desktop {
            font-size: 25px;
            @include ellipsis;
            margin: 2% auto;
        }
    }
    .infoPlat {
        font-size: 15px;
        @include tablette {
            font-size: 18px;
            @include ellipsis;
        }
        @include desktop {
            font-size: 23px;
            @include ellipsis;
            margin: 2% auto;
        }
        @include ellipsis; 
    }
    .prix {
        font-weight: bolder;
        width: 10%;
        padding-top: 9%;
        @include tablette {
            padding-top: 14%;
        }
    }
}
.box {
    display: flex;
    background-color: $couleur-tertiaire;
    width: 0;
    .check {
        margin: auto;
        background-color: $couleur-tertiaire;
        .icone {
            color: white;
            font-size: 26px;
            transition: transform 1s;
            transform: rotate(180deg);
        } 
    }
}
// anim menu
.sectionMenuEntrees {
    width: 100%;
    visibility: hidden;
    animation: entrees 2s ease-in-out forwards;
    animation-delay: 0s;
    }
  .sectionMenuPlats {
    width: 100%;
    visibility: hidden;
    animation: plats 2s ease-in-out forwards;
    animation-delay: 2s;
    }
  .sectionMenuDesserts {
    width: 100%;
    visibility: hidden;
    animation: desserts 2s ease-in-out forwards;
    animation-delay: 4s;
    }
  @keyframes entrees {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
  @keyframes plats {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }
  @keyframes desserts {
      from{
        opacity: 0;
        width: 0%;
      }
      to{
        opacity: 1;
        width: 100%;
        visibility: visible;
      }
    }