@import "../utils/variables";
// mise en forme titre des sections
@mixin titres-sections {
    margin: 5% auto 5% 5%;
    font-weight: bolder;
    font-size: 28px;
}
// mise en forme titre section info
@mixin titre-Menu {
    text-align: center;
    width: 70%;
    margin: 10% auto 4% auto;
    font-size: 27px;
    font-weight: bolder;
}
@mixin titre-Info {
    font-size: 26px;
    padding-top: 6%;
    font-weight: bolder;
    width: 60%;
    margin-bottom: 10%
}
// mixin gestion text
@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// media queries
@mixin tablette {
    @media #{$medium-up} {
        @content; 
    }
}
@mixin desktop{
    @media #{$large-up} {
        @content;
    }
}
