// couleur du site
$couleur-primaire: #9356DC;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;

// couleur fond
$fond-fonce: #EBEBEB;
$fond-clair: #F2F5F3;
$footer: rgb(63, 63, 63);

// ombre
$shadow: 0px 4px 10px grey;

// police du site
$police-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;

// padding
$padding-head: 5% 1%;
$padding-info: 0% 2% 5% 2%;